<h1>Signup</h1>

<form action="/auth/signup" method="post">

    <label for="name">Username: </label>
    <input type="text" name="username" value="aaa">
    <label for="email">Email: </label>

    <input type="email" name="email" value="aaa@aaa">
    <label for="password">Password</label>

    <input type="text" name="password" value="aaa">
    {{!-- <label for="avatar">Avatar: </label>
    <input type="file" name="avatar"> --}}
    <button>Create </button>

</form>