<h1>SIGNIN</h1>

<form action="/auth/signin" method="POST">
    <label for="email">Email</label>
    <input type="email" name="email" value="aaa@aaa">
    <label for="password">Password</label>
    <input type="text" name="password" value="aaa">
    <button>Connect</button>
</form>